*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 70px;
    background:  #6B6B6B;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
nav ul li a{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
nav ul {
    gap: 40px;
    list-style: none;
    display: flex;
}
nav h1{
    color: white;
    font-family: sans-serif;
}
main h1{
    margin: 150px;
    font-weight: 400;
    font-size: 39px;
    font-family: sans-serif;
}
main p{
    margin: 150px;
    margin-top: -120px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
}
main img{
    margin-left: 520px;
    margin-top: -300px;
}
main button{
    margin-left: 150px;
    width: 357px;
    height: 50px;
    background: white;
    font-family: sans-serif;
}
.container img{
    background: #D3D3D3;
    margin-top: 100px;
    margin-left: -5px;
    width: 1545px;
}
.one_div img{
    margin-left: 800px;
}
.one_div h1{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 32px;
}
.two_div img{
    margin: auto;
}
.two_div h1{
   margin-top: -180px;
   margin-left: 700px;
}
.two_div p{
    margin-top: -130px;
    margin-left: 700px;
}
.three_div{
    width: 1440px;
    height: 806px;
    margin-left: -350px;
    margin-top: 400px;
}
.four-div{
    width: 1440px;
    height: 806px;
    margin-left: -350px;
    margin-top: 100px;
}
footer  img{
    width: 1500px;
}
footer{
    margin-top: -400px;
}